<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
<section class="wrapper <%- path %>">
  <%- data %>
</section>
  <% include ../partials/footer %>
</body>

</html>
